<a href="https://colab.research.google.com/github/pk2971/CO2-emissions-vs-GDP/blob/main/CO2_emissions_vs_GDP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [88]:
import pandas as pd
df=pd.read_csv('/content/owid-co2-data.csv')

In [ ]:
df.info()

**Data Exploration:-**

In [90]:
null_gdp=df['gdp'].isnull().sum()
gdp=df['gdp'].sum()
print("Null values in GDP",null_gdp)
print("Values in GDP",gdp)

Null values in GDP 11653
Values in GDP 3895001794715256.0

So there are very less number of null values in GDP. We will replace them with mean or median. Lets decide which one.

In [91]:
print("Mean of GDP",df['gdp'].mean())
print("Mean of GDP",df['gdp'].median())

Mean of GDP 287708804455.2551
Mean of GDP 30370194552.0

Mean might be effected by the GDP of very rich countries and is not an accurate value to replace the nulls with. As we can see there is a major difference between the mean and median of the GDP.

In [92]:
df['gdp']=df['gdp'].fillna(df['gdp'].median())

According to census the top 5 countries ranked according to GDP are:
1.USA
2.China
3.Japan
4.Germany
5.India
We will try concentrating on these countries for visualization first.

Dropping columns that have way too many null values.

In [93]:
df.drop(['iso_code','trade_co2','other_industry_co2','other_co2_per_capita','co2_per_unit_energy','consumption_co2','consumption_co2_per_capita','consumption_co2_per_gdp','cumulative_other_co2','trade_co2_share','share_global_other_co2'], axis=1, inplace=True)

In [95]:
df = df.dropna( axis=1, thresh=16000)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25191 entries, 0 to 25190
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           25191 non-null  object
 1   year                              25191 non-null  int64
 2   co2                               23949 non-null  float64
 3   co2_per_capita                    23307 non-null  float64
 4   coal_co2                          17188 non-null  float64
 5   coal_co2_per_capita               16860 non-null  float64
 6   oil_co2                           20539 non-null  float64
 7   oil_co2_per_capita                20181 non-null  float64
 8   co2_growth_prct                   24931 non-null  float64
 9   co2_growth_abs                    23585 non-null  float64
 10  cumulative_co2                    23949 non-null  float64
 11  cumulative_coal_co2               17188 non-null  float64
 12  cumulative_oil_co2                20539 non-null  float64
 13  share_global_co2                  23949 non-null  float64
 14  share_global_coal_co2             17188 non-null  float64
 15  share_global_oil_co2              20539 non-null  float64
 16  share_global_cumulative_co2       23949 non-null  float64
 17  share_global_cumulative_coal_co2  17188 non-null  float64
 18  share_global_cumulative_oil_co2   20539 non-null  float64
 19  population                        22892 non-null  float64
 20  gdp                               25191 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 4.0+ MB

In [105]:
df['co2']=df['co2'].fillna(df['co2'].median())
df['co2_per_capita']=df['co2_per_capita'].fillna(df['co2_per_capita'].median())
df['coal_co2']=df['coal_co2'].fillna(df['coal_co2'].median())
df['co2']=df['co2'].fillna(df['co2'].median())
df['coal_co2_per_capita']=df['coal_co2_per_capita'].fillna(df['coal_co2_per_capita'].median())
df['oil_co2']=df['oil_co2'].fillna(df['oil_co2'].median())
df['oil_co2_per_capita']=df['oil_co2_per_capita'].fillna(df['oil_co2_per_capita'].median())
df['co2_growth_prct']=df['co2_growth_prct'].fillna(df['co2_growth_prct'].median())
df['co2_growth_abs']=df['co2_growth_abs'].fillna(df['co2_growth_abs'].median())
df['cumulative_co2']=df['cumulative_co2'].fillna(df['cumulative_co2'].median())
df['cumulative_coal_co2']=df['cumulative_coal_co2'].fillna(df['cumulative_coal_co2'].median())
df['cumulative_oil_co2']=df['cumulative_oil_co2'].fillna(df['cumulative_oil_co2'].median())
df['share_global_co2']=df['share_global_co2'].fillna(df['share_global_co2'].median())
df['share_global_oil_co2']=df['share_global_oil_co2'].fillna(df['share_global_oil_co2'].median())
df['share_global_cumulative_co2']=df['share_global_cumulative_co2'].fillna(df['share_global_cumulative_co2'].median())
df['share_global_cumulative_coal_co2']=df['share_global_cumulative_coal_co2'].fillna(df['share_global_cumulative_coal_co2'].median())
df['share_global_cumulative_oil_co2']=df['share_global_cumulative_oil_co2'].fillna(df['share_global_cumulative_oil_co2'].median())
df['population']=df['population'].fillna(df['population'].median())
df['share_global_coal_co2']=df['share_global_coal_co2'].fillna(df['share_global_coal_co2'].median())

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25191 entries, 0 to 25190
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           25191 non-null  object
 1   year                              25191 non-null  int64
 2   co2                               25191 non-null  float64
 3   co2_per_capita                    25191 non-null  float64
 4   coal_co2                          25191 non-null  float64
 5   coal_co2_per_capita               25191 non-null  float64
 6   oil_co2                           25191 non-null  float64
 7   oil_co2_per_capita                25191 non-null  float64
 8   co2_growth_prct                   25191 non-null  float64
 9   co2_growth_abs                    25191 non-null  float64
 10  cumulative_co2                    25191 non-null  float64
 11  cumulative_coal_co2               25191 non-null  float64
 12  cumulative_oil_co2                25191 non-null  float64
 13  share_global_co2                  25191 non-null  float64
 14  share_global_coal_co2             25191 non-null  float64
 15  share_global_oil_co2              25191 non-null  float64
 16  share_global_cumulative_co2       25191 non-null  float64
 17  share_global_cumulative_coal_co2  25191 non-null  float64
 18  share_global_cumulative_oil_co2   25191 non-null  float64
 19  population                        25191 non-null  float64
 20  gdp                               25191 non-null  float64
dtypes: float64(19), int64(1), object(1)
memory usage: 4.0+ MB